@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    /* --primary: 221 83% 53%; */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 221 83% 97%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 221 83% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  /* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 83% 8%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 221 83% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply relative overflow-x-hidden bg-background text-foreground;
  }
}

section {
  @apply py-10 lg:py-20 xl:py-24;
}

/* Landing page and other pages */

* {
  -webkit-tap-highlight-color: transparent;
}

.gradient-home {
  background: radial-gradient(circle, rgba(239, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 70%);
}

.gradient-pricing {
  background: rgb(239, 246, 255);
  background: -moz-linear-gradient(180deg, rgba(239, 246, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(239, 246, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(239, 246, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff6ff",endColorstr="#ffffff",GradientType=1);
}

/* Hide up/down arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover {
  border: 1px solid #2563eb;
}

/* ------------------------------------------------ slider --------------------- */

.correct-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.price-line {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
